<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{{ config.title }}</title>
  <script type="text/javascript" src="js/main.js" data-inline></script>
  <link rel="stylesheet" type="text/css" href="./css/style.css" data-inline>
</head>
<body>
  <div class="content-block">
    Test
  </div>
</body>
</html>
